<div *ngIf="feedback">

  <h2>
    Please verify your feedback:
  </h2>
  <div class="name feedback-confirm" *ngIf="feedback.name">
    <span class="label">Name</span> <span class="name value">${{ feedback.name }}</span>
  </div>
  <div class="phone feedback-confirm" *ngIf="feedback.phone">
    <span class="label">Phone</span> <span class="phone value">${{ feedback.phone }}</span>
  </div>
  <div class="email feedback-confirm" *ngIf="feedback.email">
    <span class="label">Email</span> <span class="email value">${{ feedback.email }}</span>
  </div>
  <div class="feedback feedback-confirm" *ngIf="feedback.feedback">
    <span class="label">Feedback</span>
    <div class="feedback value">${{ feedback.feedback }}</div>
  </div>

</div>
