<form [formGroup]="feedbackForm">
  <mat-form-field>
    <input matInput type="text" placeholder="NAME" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="PHONE" formControlName="phone">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="EMAIL" formControlName="email">
  </mat-form-field>

  <mat-form-field class="feedback-container">
    <textarea matInput rows="15" placeholder="FEEDBACK" formControlName="feedback"></textarea>
  </mat-form-field>
</form>
{{ name }} | {{ ffJSON }}
<pre>
  {{ feedback }}
</pre>
