<div class="mat-typography">
  <h3 mat-dialog-title>
    <span class="title">{{ title$ | async }}</span>
    <button tabindex="-1" mat-icon-button mat-dialog-close class="close-button"><mat-icon>close</mat-icon></button>
  </h3>

  <mat-dialog-content class="feedback-form-container">
    <app-enter-feedback [ngClass]="{ 'hidden': (submitted$ | async) }" (onChange)="changeForm($event)" [feedback]="feedback$ | async">
    </app-enter-feedback>
    <app-submit-feedback [ngClass]="{ 'hidden': !(submitted$ | async) }" [feedback]="feedback$ | async">
    </app-submit-feedback>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close class="cancel-button">CANCEL</button>
    <button
      mat-button
      class="submit-button"
      [ngClass]="{ 'hidden': (submitted$ | async) }"
      (click)="submit($event)">SUBMIT</button>
    <button
      mat-button
      class="change-button"
      [ngClass]="{ 'hidden': !(submitted$ | async) }"
      (click)="change($event)">CHANGE</button>
    <button
      mat-button
      class="confirm-button"
      [ngClass]="{ 'hidden': !(submitted$ | async) }"
      (click)="confirm($event)">CONFIRM</button>
  </mat-dialog-actions>
</div>
