<div class="mat-typography">
  <h3 mat-dialog-title>
    <span class="title">{{ title() | async }}</span>
    <button tabindex="-1" mat-icon-button mat-dialog-close class="close-button"><mat-icon>close</mat-icon></button>
  </h3>

  <mat-dialog-content class="feedback-form-container">
    <app-enter-feedback [ngClass]="{ 'hidden': (isSubmitted$ | async) }" (onChange)="changeForm($event)">
    </app-enter-feedback>
    <app-submit-feedback [ngClass]="{ 'hidden': !(isSubmitted$ | async) }">
    </app-submit-feedback>
  </mat-dialog-content>
  {{ isSubmitted$ | async }} | {{ isConfirmed$ | async }} |
  {{ submitted() | async }}
  <pre>
    {{ feedback$ | async }}
  </pre>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close class="cancel-button">CANCEL</button>
    <button
      mat-button
      class="submit-button"
      [ngClass]="{ 'hidden': (isSubmitted$ | async) }"
      (click)="submit($event)">SUBMIT</button>
      <button
        mat-button
        class="confirm-button"
        [ngClass]="{ 'hidden': !(isSubmitted$ | async) }"
        (click)="confirm($event)">CONFIRM</button>
  </mat-dialog-actions>
</div>
