<div class="mat-typography">
  <h3 mat-dialog-title>
    <span class="title">{{ title() | async }}</span>
    <button tabindex="-1" mat-icon-button mat-dialog-close class="close-button"><mat-icon>close</mat-icon></button>
  </h3>

  <mat-dialog-content class="feedback-form-container">
    <app-enter-feedback *ngIf="!(submitted() | async)">
    </app-enter-feedback>
    <app-submit-feedback *ngIf="(submitted && !confirmed) | async">
    </app-submit-feedback>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close class="cancel-button">CANCEL</button>
  </mat-dialog-actions>
</div>
