@import './themes/current.scss';

body {
  box-sizing: border-box;
}

.mat-dialog-container {
  h3 {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      flex: 1 0 calc(100% - 40px);
    }

    .close-button {
      flex: 0 0 40px;
    }

  }

  .mat-dialog-content {
    min-height: 436.25px;
  }

  .cancel-actions {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 60%;
  }
  .continue-actions {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 40%;
  }

}
